#root {
    height: 100%;
    overflow: hidden;
    background: #5d2061;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.material-icons:hover {
    color: #FF9900
}

.react-datepicker {
    position: absolute !important;
    right: -115px;
    top: 15px;
}

.ReactModal__Content {
    padding: 0px !important;

}

.Toast__toast___XXr3v {
    background: #FF9900 !important;
    color: white;
    border: none;
}

.Nav__navBar___xtCFA {
    background: #5d2061 !important;
    color: white !important;
    border: none !important;
}

body {
    height: 100vh;
}
